body {
  background-image: url('./list-image.jpg');
  color: rgb(249, 252, 251);
  font-family: 'Lato';
}

.App {
  text-align: center;
  margin-left: 100px;
  margin-top: 75px;
  background-color: rgb(101, 139, 161);
  padding: 20px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
}

li {
  list-style: none;
}

